<h2>Pokemon List</h2>

<% for pokemon in @pokemon %>
<section id="pokemon-item">
    <p>Name: <%= pokemon.name %></p>
    <p>Type: <%= pokemon.type %> </p>
    <p>Owner: <%= pokemon.owner_first_name %> <%= pokemon.owner_last_name%></p>
    <p>Vet: <%= pokemon.vet.name %></p>


<p><a href="/pokemon/<%=pokemon.id%>">Show Pokemon</a></p>
<p><a href="/pokemon/<%=pokemon.id%>/edit">Edit Pokemon</a></p>
<form method="post" action="/pokemon/<%= pokemon.id %>/delete"><input type="submit" value="Delete"/>


</section>
<% end %>
