<h2>Pokemon List</h2>

<% for pokemon in @pokemon %>
    <p>Name: <%= pokemon.name %></p>
    <p>Date of birth: <%= pokemon.date_of_birth %></p>
    <p>Type: <%= pokemon.type %> </p>
    <p>Affinity: <%= pokemon.affinity %></p>
    <p>Level: <%= pokemon.level %></p>
    <p>Owner: <%= pokemon.owner_id %></p>
    <hr />
<% end %>
