<h2>Pokemon List</h2>

<h3> Pokemon Data</h3>

<% for pokemon in @pokemon %>
    <p>Name: <%= pokemon.name %></p>
    <p>Date of birth: <%= pokemon.date_of_birth %></p>
    <p>Type: <%= pokemon.type %> </p>
    <p>Affinity: <%= pokemon.affinity %></p>
    <p>Level: <%= pokemon.level %></p>
    
    <hr />
<% end %>

<h3> Owner Data</h3>

<% for pokemon in @pokemon %>
    <p>Name: <%= pokemon.owner_first_name %> <%= pokemon.owner_last_name%></p>
    <p>Phone number: <%= pokemon.phone %></p>
    <p>Email: <%= pokemon.email %></p>
    <p>Address: <%= pokemon.address %></p>
<% end %>

<h3>Medical Record</h3>

<% for pokemon in @pokemon %>
    <p>Vet: <%= pokemon.vet_id %></p>
    <p>Medical Notes: <%= pokemon.notes %></p>
<% end %>
