<h2><%= @pokemon.name%></h2>

<p>Date of birth: <%= @pokemon.date_of_birth %></p>
<p>Type: <%= @pokemon.type %> </p>
<p>Affinity: <%= @pokemon.affinity %></p>
<p>Level: <%= @pokemon.level %></p>

<h3> Owner Data</h3>

<p>Name: <%= @pokemon.owner_first_name %> <%= @pokemon.owner_last_name%></p>
<p>Phone number: <%= @pokemon.phone %></p>
<p>Email: <%= @pokemon.email %></p>
<p>Address: <%= @pokemon.address %></p>

<h3>Medical Notes</h3>

<p>Vet: <%= @pokemon.vet_id %></p>
<p>Medical Notes: <%= @pokemon.notes %></p>